{% extends 'base.html' %}

{% block title %}Блог{% endblock title %}

{% block content %}

  <div class="text-center">
    <h1 class="mt-4 mb-3 text-center">Блог</h1>

    <div class="card-columns">
      {% for post in post_list %}
        <div class="card">
          {% if post.picture %}
            <img class="card-img-top" src="{{ post.picture.url }}" alt="picture">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description|truncatewords_html:33 }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary stretched-link">Детальніше</a>
          </div>
        </div>
      {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
      {% if is_paginated %}
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
              >&laquo;</a
              >
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">&laquo;</a>
            </li>
          {% endif %}
          {% for i in paginator.page_range %} {% if page_obj.number == i %}
            <li class="page-item active"><a class="page-link">{{ i }}</a></li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endif %} {% endfor %} {% if page_obj.has_next %}
          <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link"
            >&raquo;</a
            >
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link">&raquo;</a>
          </li>
        {% endif %}
        </ul>
      {% endif %}
    </nav>


{% endblock content %}