{% extends 'base.html' %}

{% block title %}Про Технар{% endblock title %}

{% block content %}
  <div class="row mx-auto">
  <div class="col-md-9 mx-auto">
    <h1 class="mt-4 mb-3 text-center">Про Технар</h1>
  <p>Ідея створити новий освітній проєкт під назвою «Технар» вперше виникла восени 2020-го року,
    коли особливо гострим стало питання дистанційного навчання. Не одна тисяча дітей взагалі залишилися
    без онлайн-уроків з математики. фізики і не тільки, тому деяка частина школярів була змушена самостійно
    або з репетитором опрацьовувати шкільну програму. На україномовному YouTube не так багато корисних матеріалів
    з цих двох навчальних дисциплін, і саме це «Технар» ставить за мету виправити.</p>


<p>
Через півроку, 31-го травня було опубліковано перше відео на новоствореному каналі «Технар».
  Основна ідея – дати можливість опанувати шкільну фізику та математику безкоштовно, опрацьовуючи наші
  відеоуроки, які знаходяться у вільному доступі. Ми працюємо для того, аби всі теми, що виносяться на
  ЗНО з цих двох предметів, були розібрані нашими викладачами.
</p>

<p>
Крім того, наприкінці кожного літа буде проходити набір учнів у групи по підготовці до ЗНО з фізики та математики.
  Викладачі, які вестимуть заняття в цих групах, проводитимуть закриті онлайн-уроки, на яких кожен глядач матиме
  змогу опанувати матеріал та напряму звернутися до вчителя з запитанням, на яке одразу отримає відповідь.
</p>

    <p>Чи будуть закриті курси безкоштовними? Звісно ж, ні, оскільки це закриті курси, але ціна на них буде
      символічною у порівнянні з іншими, більш популярними українськими онлайн-школами, які готують своїх
      вихованців до ЗНО. Викладачами є люди, які від щирого серця люблять свій предмет і можуть дати вам все,
      щоб ви склали іспит саме на той бал, на який розраховуєте.</p>

  <p>Єдине, що ми вимагаємо від своїх потенційних учнів, – це віддача та бажання працювати над собою.
    Все інше зробимо ми, гарантуючи при цьому результат. Недарма кажуть, що добре вчити того, хто хоче вчитись. </p>

    <p>Бажаємо удачі, натхнення та успіхів усім, хто навчатиметься з нами або просто переглядатиме безкоштовні,
      але інформативні та якісні відео на YouTube-каналі «Технар». Сподіваємося, що наша праця допоможе вам
      скласти ЗНО саме на той бал, на який ви розраховуєте (або навіть краще).
    </p>
    <p>З повагою,<br>
Онлайн-школа «Технар».</p>
  </div>
  </div>
{% endblock content %}

