{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Контакти{% endblock title %}

{% block content %}
  <div class="row mx-auto">
    <div class="col-md-9 mx-auto">
      <h1 class="mt-4 mb-3 text-center">Контакти</h1>
      <p>Якщо у вас залишилися які-небудь питання стосовно діяльності «Технаря», організації навчання тощо, то можете
        надсилати свої питання на електронну пошту або сторінки проєкту в соціальних мережах,
        посилання на які наведено нижче:</p>
      <div class="text-center">
        <p class="mb-1"><a class="text-decoration-none" href="mailto:tekhnar.zno@gmail.com"><i
            class="fas fa-envelope-open mr-1"></i> tekhnar.zno@gmail.com</p></a>
        <p class="mb-1"><a class="text-decoration-none" href="https://instagram.com/tekhnar_zno"><i
            class="fab fa-instagram mr-2"></i>@tekhnar_zno</p></a>
        <p class="mb-0"><a class="text-decoration-none" href="https://t.me/tekhnar_zno"><i
            class="fab fa-telegram-plane mr-2"></i>@tekhnar_zno</p></a>
      </div>
      <br>
      <p>
        Крім того, ви можете зателефонувати на один з вказаних нижче номерів телефонів та отримати потрібну інформацію
        таким чином:
      </p>
      <div class="text-center">
        <p class="mb-1"><a class="text-decoration-none" href="callto:+380971326702"><i class="fas fa-phone mr-2"></i>+380
          (97) 132-67-02</a></p>
        <p class="mb-0"><a class="text-decoration-none" href="callto:+380505571496"><i class="fas fa-phone mr-2"></i>+380
          (50) 557-14-96</a></p>
      </div>
      <br>
      <p>
        Прохання телефонувати з 15-ї до 21-ї години за київським часом.
      </p>
      <p>
        З повагою,<br>
        Онлайн-школа «Технар».</p>

      <hr>
<div class="row d-flex justify-content-center mb-5">
    <div class="col-md-5 text-center">
      <h3 id="consult">Записатися на курс</h3>
      {% if error %}
            <div class="alert alert-danger" role="alert">
  При обробці запиту виникла помилка!
</div>
      {% endif %}
      {% if success %}
        <div class="alert alert-success" role="alert">
  Запит надіслано! Очікуйте дзвінка від оператора.
</div>
      {% endif %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">Записатися</button>
    </div>
</form>
</div>
</div>
    </div>
  </div>
{% endblock content %}
