{% extends 'base.html' %}
{% load static %}

{% block title %}Освітній проєкт{% endblock title %}

{% block style %}
  <style>
  @media only screen and (min-width : 992px){
      .jumbo-photos {
          background-image: url({% static 'image/fizik.png' %}), url({% static 'image/matematik.png' %});
      }
  }



  </style>

{% endblock style %}

{% block content %}
  <br>
  {#  <div class="jumbotron" style="background-color: #E9EDDE;">  style="background-image: url({% static 'image/jumbotron-bg.png' %});" #}
  <div class="jumbotron jumbo-photos mb-3 pb-3" id="jumbotron-main">
    <div class="container">
      <div class="mx-auto text-center">
        <h6 class="jumbo-subject">ФІЗИКА</h6>
        <hr class="jumbo-hr">
        <h1 class="display-4" id="jumbo-title">РОЗВИВАЙСЯ РАЗОМ<br>З «ТЕХНАРЕМ»</h1>
        <hr class="jumbo-hr">
        <h6 class="jumbo-subject">МАТЕМАТИКА</h6>
        <a href="{% url 'course_list' %}" class="btn btn-success progress-bar-striped progress-bar-animated pb-0 mt-3"><h5>Наші Курси</h5></a>
      </div>
    </div>
  </div>
<div class="text-center mb-4 mt-0">
  <div class="btn-group mt-0" role="group" aria-label="social networks">
  <a href="https://www.youtube.com/channel/UC5JAwQBUsDKFspS1BetNwAw" class="btn btn-outline-danger"><i class="fab fa-youtube mr-2"></i>YouTube</a>
  <a href="https://t.me/tekhnar_chat" class="btn btn-outline-primary"><i class="fab fa-telegram-plane mr-2"></i>Telegram</a>
  <a href="https://www.instagram.com/tekhnar_zno" class="btn btn-outline-warning text-dark"><i class="fab fa-instagram mr-2"></i>Instagram</a>
    <a href="https://www.facebook.com/tekhnar.zno" class="btn btn-outline-info"><i class="fab fa-facebook-f mr-2"></i>Facebook</a>
</div>
  </div>

  <div class="text-center">
    <a class="text-reset text-decoration-none" href="#more">
      <h6 class="mb-0 text-dark">Дізнатися більше</h6>
      <i class="fas fa-angle-down home-arrow" id="home-arrow"></i>
    </a>
  </div>
  <br>


    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-5 mx-auto">
        <img class="about-us" src="{% static 'image/why-tekhnar.png' %}" {% comment %}class="img-thumbnail"{% endcomment %} alt="why"
             style="height: 180pt; width: auto;">
      </div>
      <div class="col-lg-9 col-md-8 com-sm-7 my-auto">
          <h2>ЧОМУ «ТЕХНАР»?</h2>
            <p>«Технар» – український ресурс з підготовки до ЗНО, який, навідміну від багатьох онлайн-шкіл,
              дає можливість своїм підписникам безкоштовно отримати базові знання для складання ЗНО, переглядаючи
              всім доступні уроки на YouTube. Для тих, хто бажає займатися далі з одним із наших викладачів,
              створені спеціальні курси, де кожен може звернутись до вчителя і отримати допомогу.</p>
      </div>
    </div>
{% comment %}

  <div class="card">
    <div class="row no-gutters">
      <div class="col-auto">
        <img src="{% static 'image/why-tekhnar.png' %}" class="img-fluid m-0" alt="why"
             style="height: 180pt; width: auto;">
      </div>
      <div class="col">
        <div class="card-block">
          <div class="card-header pb-0" style="background-color: #A0CED9;"><h4>ЧОМУ "ТЕХНАР"?</h4></div>
          <div class="card-body" style="background-color: #c6e5ed;">
            <p>«Технар» – новостворена українська онлайн-школа з підготовки до ЗНО, яка,
              навідміну від інших шкіл, дає можливість своїм підписникамбезкоштовноотримувати освіту,
              переглядаючи всім доступні уроки на YouTube. Для тих, хто бажає займатися далі з одним із
              наших викладачів, створені спеціальні закриті курси, де кожен може напряму звернутися до
              вчителя і отримати відповідь</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br>{% endcomment %}





      <div class="row text-right mt-4">
      <div class="col-lg-3 col-md-4 col-sm-5 mx-auto order-md-2">
        <img class="about-us" src="{% static 'image/school-lesson.png' %}" alt="why"
             style="height: 180pt; width: auto;">
      </div>
      <div class="col-lg-9 col-md-8 com-sm-7 my-auto order-md-1" id="youtube-text">
        <h2>НАШ YOUTUBE-КАНАЛ</h2>
            <p>Ми підтримуємо ідею доступної освіти для всіх, і вважаємо, що кожен, хто прагне отримати якісні
              знання з тих чи інших шкільних предметів, повинен мати можливість їх здобути на просторах
              інтернету. На україномовному YouTube не так багато освітніх матеріалів з математики та фізики,
              і саме тому наша команда вирішила це виправити.</p>
      </div>
    </div>


      <div class="row mt-4 mb-4">
      <div class="col-lg-3 col-md-4 mx-auto col-sm-5">
        <img class="about-us" src="{% static 'image/youtube-kanal.png' %}" alt="why"
             style="height: 180pt; width: auto;">
      </div>
      <div class="col-lg-9 col-md-8 com-sm-7 my-auto">
          <h2>ДЛЯ КОГО ПІДІЙДУТЬ НАШІ КУРСИ?</h2>
        <p>Курси нашого онлайн-ресурсу підійдуть абсолютно для всіх школярів, які мають намір гідно скласти ЗНО з
          математики чи фізики, а також для всіх, хто відчуває прогалини в знаннях з певних розділів чи тем.</p>
      </div>
    </div>


{% endblock content %}