body {
  min-height: 100vh;
}

.flex-grow {
   flex: 1;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
}

.jumbo-hr {
    border-width: 2pt;
    border-color: #1a1a1a;
    width: 160pt;
}


#jumbo-title {
    font-size: 50pt;
}

#home-arrow {
    font-size: 40pt;
}

.home-card {
    display: flex;
    flex-flow: column;
    height: 300px;
}


.course-main-info {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13pt;
}

#jumbotron-main {
    background-repeat: no-repeat;
    background-position: right bottom, left bottom;
    background-attachment: scroll;
    background-size: 200pt, 175pt;
}


.icon {
    vertical-align: middle;
    font-size: 40px;
}

.text {
    font-family: "Courier-new";
}
