{% extends 'base.html' %}

{% block content %}
  <br>
  <div class="jumbotron" style="background-color: #E9EDDE;">
    <div class="container">
      <div class="mx-auto text-center">
        <h6 class="jumbo-subject">ФІЗИКА</h6>
        <hr class="jumbo-hr">
        <h1 id="jumbo-title">РОЗВИВАЙСЯ РАЗОМ<br>З «ТЕХНАРЕМ»</h1>
        <hr class="jumbo-hr">
        <h6 class="jumbo-subject">МАТЕМАТИКА</h6>

      </div>
    </div>
  </div>


  <div class="card" id="more">
    <div class="card-header pb-0" style="background-color: #A0CED9;"><h4>ЧОМУ "ТЕХНАР"?</h4></div>
    <div class="card-body" style="background-color: #c6e5ed;">
      <p>«Технар» – новостворена українська онлайн-школа з підготовки до ЗНО, яка,
        навідміну від інших шкіл, дає можливість своїм підписникамбезкоштовноотримувати освіту,
        переглядаючи всім доступні уроки на YouTube. Для тих, хто бажає займатися далі з одним із
        наших викладачів, створені спеціальні закриті курси, де кожен може напряму звернутися до
        вчителя і отримати відповідь</p>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header pb-0"><h4>YOUTUBE-КАНАЛ</h4></div>
    <div class="card-body">
      <p>Ми підтримуємо ідею доступної освіти для всіх, і вважаємо, що кожен, який прагне отримати
        які-небудь знання з тих чи інших шкільних предметів, повинен мати можливість їх здобути на
        просторах інтернету. На україномовному YouTube не так багато освітніх матеріалів з математики
        та фізики, і саме тому наша команда вирішила це виправити</p>
    </div>
  </div>

{% endblock content %}