{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
  <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'image/navbar-logo.png' %}" width="30" height="30" alt="Технар"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">Про Технар</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'post_list' %}">Блог</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'course_list' %}">Курси</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'teacher_list' %}">Викладачі</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contacts' %}">Контакти</a>
      </li>
    </ul>

      <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user mr-2"></i>{{ request.user.first_name }} {{ request.user.last_name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Мої курси</a>
          <div class="dropdown-divider"></div>
          <form method="POST" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button class="dropdown-item" type="submit">Вийти</button>
          </form>
        </div>
      </li>
      {% else %}
        <li class="nav-item">
          <a class="btn btn-outline-primary my-2 my-sm-0 mr-2" href="{% url 'account_login' %}">Вхід</a>
        </li>
      {% endif %}
      </ul>
  </div>
</div>
</nav>